<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
            <a href="/userName">유저 이름</a>
            <form class="d-flex" th:action="@{/logout}" method="POST">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>